@import "settings/sizing";

.mainContainer {
  min-height: calc(100vh - #{$footerHeight});
}

.drawerContainer {
  &__list {
    li {
      cursor: pointer;
    }
  }
}

.logoContainer {
  width: spacing($logoWidthUnits);
  @media screen and (min-width: 60em) {
    width: spacing($logoWidthDesktopUnits);
  }
  &--noQuery {
    width: spacing($logoWidthUnits);
  }
}

.vippyButton {
  @extend .relative, .pointer;
  border: none;
  border-radius: 1rem;
  padding: 0.14rem 0.11rem;
  height: 2.45rem;
  min-width: 192px;
  width: 100%;
  background: url("../images/vippy-button-background.png");
  background-position: 10% 76%;
  background-repeat: no-repeat;
  background-size: 300%;
  &__innerColorBlock {
    @extend .absolute--fill, .bg-black, .h-100, .w-100;
    border-radius: 1rem;
  }

  &--smaller {
    padding: 0.09rem 0.08rem;
    height: 2.25rem;
    min-width: 130px;
    width: 100%;
  }
}

.marketingBox {
  background: url("../images/vippy-marketing-stock.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
