$michromaregular : 'Michroma';

.michroma {
  font-family: $michromaregular;
}

.michroma-important {
  font-family: $michromaregular !important;
}

.medium-title {
  @extend .tw-font-mich, .tw-text-2xs, .tw-uppercase, .tw-tracking-widest;
}
