@import 'settings/sizing';

// positioning
.sticky {
  position: sticky;
}

// borders
.bw05 {
 border-width: 0.02rem;
}

// font sizes
.f8 {
  font-size: 0.50rem;
}

.f9 {
  font-size: 0.30rem;
}

.relative-important {
  position: relative !important;
}

.f8-important {
  font-size: 0.60rem !important;
}

.f9 {
  font-size: 0.30rem !important;
}

.f7-important {
  font-size: 0.85rem !important;
}

// offset nav
.top-from-nav {
  top: $headerMinHeight;
  // large and up
  @media screen and (min-width: 60em) {
    top: $headerMinHeightLarge;
  }
}

.lh-small {
  line-height: 0.5rem;
}

.mt2-important {
  margin-top: 0.5rem !important;
}

.lh-extra {
  line-height: 1.50rem;
}

.lh-extra-1 {
  line-height: 1.75rem;
}

.tracked-1 {
  letter-spacing: 0.3rem;
}

.tracked-05 {
  letter-spacing: 0.275rem;
}

// colors
.bg-vippy {
  background: #000001;
  // border: 0.2rem solid #b6c36b;
}

.bg-vippy-1 {
  background: #1d1d1d;
}

.b--white-important {
  border: white !important;
}

.bg-vippy-2 {
  background: #373737;
}

.bg-vippy-3 {
  background: rgb(49, 49, 49);
}

.white-important {
  color: white !important;
}

.white-wash-important {
  color: #d9d9d9bd !important;
}

.bg-secondary {
  background: "#151515"
}

// padding important
.padding-top-025-important {
  padding-top: 0.2rem !important;
}

// widths
.w0 {
  width: 0.75rem;
}

// overrides
@media screen and (min-width: 60em) {
  .dn-l-important {
      display: none !important;
  }
}

.MuiInputLabel-shrink {
    transform: translate(0%, 3.5px) scale(0.75);
    transform-origin: top right !important;
}

.MuiInput-underline:before {
    border-bottom: 1px solid white !important;
}

.MuiInput-underline:after {
  border-bottom: 1px solid white !important;
}

.MuiPaper-root-128 {
    background-color: #2C2C2C !important;
}

.MuiInputBase-input {
  padding-bottom: 0.5rem;
}

.MUIRegisterOverride {
  @extend .pv1, .mt2;
  color: white !important;
  input {
    height: 100% !important;
  }
  & fieldset {
    border-color: white !important;
  }
  &:before {
    border-bottom: 1px solid white !important;
  }
  &:after {
    border-bottom: 1px solid white !important;
  }
}

// object-fit
.object-fit-contain {
  object-fit: contain;
}

// text-overflow
.ellipses {
  @extend .overflow-hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// .active NavLink
.active {
  color: #a9a91c !important;
}

html,body {
  @extend .bg-vippy;
}
